// @import "../fonts.scss";
@import "../vendor/mixins";

:root {
    --v-scale-instock-color: var(--v-lime);
}

.accordion {
    --v-accordion-border-radius: 4px;
    --v-accordion-button-background: var(--v-black);

    --v-accordion-button-collapse-padding-x: 1rem;
    --v-accordion-button-collapse-padding-y: 1.3333rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.6667rem;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--v-accordion-button-background);
        border-radius: var(--v-accordion-border-radius);
        color: var(--v-white);
        padding: var(--v-accordion-button-collapse-padding-x) var(--v-accordion-button-collapse-padding-y);
        border: none;
        width: 100%;
        font-size: 1.3333rem;
        line-height: 100%;
        transition: font-weight 0.1s ease;

        &::after {
            @include settingsIcons;
            content: "\e92d";
            font-size: 1.0667rem;
            transition: 0.3s all ease;
        }

        &[aria-expanded="true"] {
            --v-accordion-button-background: var(--v-gray-700);
            background-color: var(--v-accordion-button-background);
            border-radius: var(--v-accordion-border-radius) var(--v-accordion-border-radius) 0 0;
            font-weight: 600;

            &::after {
                content: "\e924";
                transform: rotate(180deg);
            }
        }
    }

    &__body {
        --v-accordion-button-collapse-padding-y: 0.6667rem;

        border-radius: 0 0 var(--v-accordion-border-radius) var(--v-accordion-border-radius);

        display: flex;
        flex-direction: column;
        gap: 0.0667rem;
    }

    &__product {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;

        background-color: var(--v-accordion-button-background);
        padding: var(--v-accordion-button-collapse-padding-y) var(--v-accordion-button-collapse-padding-x);

        &--not-available {
            color: #999;

            & * img {
                opacity: 0.5;
            }

            .instock__icon {
                &:nth-child(1)::before {
                    --v-scale-instock-color: var(--v-danger);
                    content: "\e949";
                    // color: var(--v-scale-instock-color) !important;
                }
                &:nth-child(n + 2)::before {
                    --v-scale-instock-color: var(--v-secondary);
                    content: "\e949";
                }
            }
        }

        &--little {
            .instock__icon {
                &:nth-child(-n + 2)::before {
                    --v-scale-instock-color: var(--v-lemon);
                    content: "\e949";
                    // color: var(--v-scale-instock-color) !important;
                }
                &:nth-child(3)::before {
                    --v-scale-instock-color: var(--v-secondary);
                    content: "\e949";
                }
            }
        }
    }

    &__img img {
        max-width: 70px;
        width: 100%;
    }

    &__text {
        flex-basis: 550px;
        line-height: 100%;
    }

    &__price {
        text-align: end;
        font-size: 1.3333rem;
        flex: 1 1 auto;
        font-weight: 600;
    }
}
