@import "../vendor/mixins";
@import "../vendor/libs";

.comparison {
    --v-comparison-sidebar-padding: 1.3333rem;
    --v-comparison-sidebar-gap: 1.4667rem;

    --v-comparison-checkbox-cont: 0.6667rem;

    &__row {
        --v-gutter-y: 30px;
    }

    &__checkmark {
        display: flex;
        align-items: center;
    }
    &__sidebar {
        padding: var(--v-comparison-sidebar-padding);
        background-color: var(--v-black);
        display: flex;
        flex-direction: column;
        gap: var(--v-comparison-sidebar-gap);
        min-height: 220px;
    }

    &__checkbox-cont {
        display: flex;
        flex-direction: column;
        gap: var(--v-comparison-checkbox-cont);
    }
}

.checkbox {
    --v-checkbox-size: 25px;

    display: flex;
    align-items: center;
}

.checkbox > input:first-child {
    opacity: 0;
    position: absolute;

    // display: none !important;
}

.checkbox > input:first-child + * {
    display: inline-flex;
    cursor: pointer;
}

// .checkbox > input:first-child:disabled + *::before {
// }

.checkbox > input:first-child + *::before {
    content: "";
    display: inline-block;
    flex: none;
    margin-right: 0.625rem;
    border: 1px var(--v-secondary) solid;
}

.checkbox > input:first-child:disabled + *::before {
    content: $icon--dot;
    background-color: transparent;
    border: 1px var(--v-secondary) solid;
    color: var(--v-secondary);
    font-size: 0.6rem;
}

.checkbox > input:first-child[type="radio"] + *::before {
    @include settingsIcons;
    width: var(--v-checkbox-size);
    height: var(--v-checkbox-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox > input:first-child[type="radio"]:disabled:checked + *::before {
    // background-color: rgb(216, 213, 213);

    // content: $icon--dot;
    font-size: 0.375rem;
    filter: brightness(100%) saturate(100%) invert(15%) sepia(1%) saturate(0%) hue-rotate(299deg) brightness(88%)
        contrast(82%);
}

.checkbox > input:first-child[type="radio"]:checked + *::before {
    // content: $icon--dot;
    font-size: 0.345rem;
    border: 8px var(--v-yellow) solid;
    background-color: var(--v-white);
}
