.contacts {
    --v-contacts-padding-x: 30px;
    --v-contacts-padding-top: 15px;
    --v-contacts-padding-bottom: 30px;
    --v-contacts-item-padding-gap: 25px;

    --v-contacts-item-padding-y: 5px;

    &__container {
        background-color: var(--v-black);
        padding: var(--v-contacts-padding-top) var(--v-contacts-padding-x) var(--v-contacts-padding-bottom)
            var(--v-contacts-padding-x);
    }

    &__row {
        --v-gutter-y: 2rem;
    }

    /* КАРЯГА */
    &__col {
        &:last-child {
            ul {
                & li {
                    border-top: none;
                    border-bottom: 1px var(--v-gray-700) solid;
                }
            }
        }
    }
}
.cItem {
    display: flex;
    flex-direction: column;
    gap: var(--v-contacts-item-padding-gap);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        min-height: 55px;
    }

    &__phone {
        &-link {
            line-height: 1.2;
        }
    }

    &__icon {
        font-size: 1.3333rem;
    }

    &__info-text {
        display: flex;
        align-items: center;
        gap: 0.6667rem;
        line-height: 120%;
    }

    &__text {
        display: flex;
        gap: 10px;
        line-height: 1.3;
    }
}
.chart-list {
    margin: 0;
    padding: 0;
    font-size: 0.8667rem;

    &__item {
        padding: 0;
        border-top: 1px var(--v-gray-700) solid;
        padding: var(--v-contacts-item-padding-y) 0 var(--v-contacts-item-padding-y) 0;

        &::marker {
            content: "";
        }
    }
}

.contact-form {
    background: var(--black-10-1a1a1a);
    padding: 2rem;

    .form-control {
        padding: 0.6rem 1.75rem;
        background: none;
    }

    textarea.form-control {
        min-height: calc(1em + 7.6rem + calc(var(--v-border-width) * 2));
    }

    .form-select {
        background-color: transparent;
        --v-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23E6AC00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }

    label[for="captch"]{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        color: var(--white);
        margin-bottom: 6px;
    }

    .captcha-field {
        display: flex;
        gap: 1.6rem;

        .captcha-container {
            display: flex;
            gap: 10px;

            .captcha-image {
                background: var(--gray-15-262626);
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .form-control {
                flex: 0 0 calc(100% - 100px);
            }
        }

        .btn.btn-primary {
            white-space: nowrap;
            justify-content: center;        
        }

        @media all and (max-width: 767px){
            display: block;

            .captcha-container {
                margin-bottom: 1.6rem;
            }

            .btn.btn-primary {
                width: 100%;
            }
        }
    }
}