:root {
    --black-10-1a1a1a: #1a1a1a;
    --gray-15-262626: #262626;
    --gray-30-4d4d4d: #4d4d4d;
    --gray-50-808080: #808080;
    --gray-70-b2b2b2: #b3b3b3;
    --gray-90-e5e5e5: #e5e5e5;
    --red: #d94616;
    --orange: #e58b0b;
    --yellow: #e5ac00;
    --lemon: #e5d200;
    --lime: #c7d900;
    --white: #fff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

.header {
    position: relative;
}

.burger {
    flex: 0 0 44px;
    z-index: 71;
    width: 44px;
    height: 44px;
    background: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.222168' y='0.445312' width='13.4444' height='2.44444' fill='%23fff'/%3E%3Crect x='16.1113' y='0.445312' width='4.88889' height='2.44444' fill='%23fff'/%3E%3Crect x='5.11133' y='7.77734' width='15.8889' height='2.44444' fill='%23fff'/%3E%3Crect x='0.222168' y='7.77734' width='2.44444' height='2.44444' fill='%23fff'/%3E%3Crect x='7.55566' y='15.1133' width='13.4444' height='2.44444' fill='%23fff'/%3E%3Crect x='0.222168' y='15.1133' width='4.88889' height='2.44444' fill='%23fff'/%3E%3C/svg%3E%0A") 50% no-repeat;
    box-sizing: border-box;
    background-size: 20px;
    cursor: pointer;
    display: none;
    position: relative;
    border-radius: 0;
    margin-left: calc(var(--v-gutter-x) * -0.5);

    @media all and (max-width: 1024px)  {
        display: block;
    }
}

.folder-menu-nav {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    background: var(--black-10-1a1a1a);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    height: calc(100vh - 230px);
    opacity: 0;
    margin: -2px 0 0;
    visibility: hidden;
    transition: all .3s;
    display: none;

    &.open {
    	display: block;
		opacity: 1;
		visibility: visible;
	}

    @media all and (max-width: 1024px) {
    	display: none;
    }

	

    .folder__menu_header_inner {
        display: flex;
        height: 100%;
        position: relative;
        overflow-y: auto;

        .folder__menu_header {
            width: 270px;
            padding: 32px 0 0;
            margin: 0;
            list-style: none;
            border-right: 1px solid var(--gray-15-262626);

            > li {
				margin-bottom: 4px;
				padding: 0;

				> a {
					border-radius: 4px 0 0 4px;
					padding: 13px 21px;
					font-family: var(--font-family);
					font-weight: 700;
					font-size: 15px;
					line-height: 133%;
					color: var(--white);
					display: flex;
					gap: 15px;
					align-items: center;
					transition: all .3s;

					.icon {
						flex: 0 0 24px;

						svg path{
							transition: all .3s;
						}
					}

					&:hover {
						background: var(--gray-15-262626);

						svg path{
							fill:  var(--red);
						}
					}
				}

				.lavel_wrap {
					position: absolute;
					top: 0;
					left: 270px;
					right: 0;
					display: flex;
					gap: 20px;
					padding: 40px 50px;
					opacity: 0;
					visibility: hidden;
					transition: all .3s;

					> ul {
						flex: 1 1 auto;
						transition: all .3s;
						margin: 0;
						list-style: none;
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						grid-auto-rows: 1fr;
						gap: 30px 22px;

						li:nth-child(3) {
							grid-row: span 2;
						}

						> li {
							padding: 0;

							> a, .menu-title {
								display: inline-block;
								font-family: var(--font-family);
								font-weight: 400;
								font-size: 13px;
								letter-spacing: 0.04em;
								text-transform: uppercase;
								color: var(--gray-50-808080);
								text-decoration: none;
								transition: all .3s;

								// &:hover {
								// 	color: var(--yellow);
								// }
							}

							> ul {
								padding: 5px 0 0;
								margin: 0;
								list-style: none;

								li {
									padding: 0;

									a {
										font-family: var(--font-family);
										font-weight: 400;
										font-size: 13px;
										line-height: 154%;
										color: var(--gray-90-e5e5e5);
										text-decoration: none;
										display: inline-block;
										padding: 5px 0;
										transition: all .3s;
										
										&:hover {
											color: var(--yellow);
										}
									}
								}
							}
						}
					}

					.image_banner {
						flex: 0 0 270px;

						img {
							max-width: 100%;
						}
					}
				}

				&:hover,&.opened {
					> a {
						background: var(--gray-15-262626);

						svg path{
							fill:  var(--red);
						}
					}


					.lavel_wrap {
						opacity: 1;
						visibility: visible;
					}
				}
            }
        }
    }
}


.header {

	.header__top {
		background: var(--black-10-1a1a1a);

		@media all and (max-width: 1024px) {
			padding: 0;


			.header__top-left {
				margin-right: auto;
			}
		}
	}

	.header__top-row {
		
		.icon-link {
			gap: .4rem;

			@media all and (max-width: 767px) {
				font-size: 0;

				i {
					font-size: 1.6rem;
				}
			}
		}

		@media all and (max-width: 1200px) {
		    column-gap: 1.5rem;

			.header__top-phone {
				white-space: nowrap;
			}

			.header__top-clients {
				white-space: nowrap;
			}

			.header__top-nav.h-menu {

				.h-menu__list {
					column-gap: 1.5rem;
				}
			}
		}

		@media all and (max-width: 1024px) {
			justify-content: start;
			column-gap: 1rem;

			.header__top-nav.h-menu {
				display: none;
			}
		}
	}

	.header__middle {
		@media all and (max-width: 991px) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.header__middle-row {

			.header__logo{

				.logo-title {
					max-width: 92px;
					line-height: 118%;
				}
			}

			.header__search {
				padding-left: 0;

				form {
					width: 100%;
					background: var(--black-10-1a1a1a);
					border-radius: 4px;
					position: relative;
					padding-right: 50px;
					padding-left: 15px;

					input {
						height: 40px;
						width: 100%;
						background: none;
						font-family: var(--font-family);
						font-weight: 400;
						font-size: 13px;
						color: var(--gray-50-808080);
						outline: none;
						border: none;
					}

					button {
						position: absolute;
						top: 0;
						width: 40px;
						height: 40px;
						right: 0;
						background: none;
						border: none;
						outline: none;

						i {
							font-size: 20px;
							color:  var(--gray-50-808080);
						}
					}
				}
			}

			.header__user.h-user .row{
				gap:  0.67rem;

				.h-user__item {
					width: 5rem;
					padding: 6px 0 0;
					text-align: center;
					position: relative;

					i {
						font-size: 24px;
					}

					span {
						position: absolute;
						top: 0;
						right: 16px;
						min-width: 18px;
						text-align: center;
						height: 18px;
						background: var(--red);
						border-radius: 10px;
						font-family: var(--second-family);
						font-weight: 500;
						font-size: 10px;
						line-height: 18px;
						text-transform: uppercase;
						text-align: center;
						color: var(--white);
						padding: 0 6px;
					}

					.text {
						padding-top: 7px;
						display: block;
						font-family: var(--font-family);
						font-weight: 500;
						font-size: 9px;
						text-transform: uppercase;
						text-align: center;
						color: var(--gray-50-808080);
					}
				}
			}

			@media all and (max-width: 991px) {
				flex-wrap:wrap;

				.header__search {
					width: 100%;
					flex: none;
					order: 1;
					padding: 1rem 0 0;  
				}
			}

			@media all and (max-width: 767px) {
				.header__logo{
					width: 100%;
					flex: none;
					margin: 0 0 1rem;
					justify-content: center;

					.logo-title {
						max-width: 92px;
						line-height: 118%;
					}
				}

				.header__user.h-user {
					width: 100%;
					flex: none;

					.row{
						gap: 0;
						justify-content: space-between;
						

						.h-user__item {
							width: 5rem;
							padding: 6px 0 0;
							text-align: center;
							position: relative;

							i {
								font-size: 24px;
							}

							span {
								position: absolute;
								top: 0;
								right: 16px;
								min-width: 18px;
								text-align: center;
								height: 18px;
								background: var(--red);
								border-radius: 10px;
								font-family: var(--second-family);
								font-weight: 500;
								font-size: 10px;
								line-height: 18px;
								text-transform: uppercase;
								text-align: center;
								color: var(--white);
								padding: 0 6px;
							}

							.text {
								padding-top: 7px;
								display: block;
								font-family: var(--font-family);
								font-weight: 500;
								font-size: 9px;
								text-transform: uppercase;
								text-align: center;
								color: var(--gray-50-808080);
							}
						}
					}
				}
			}
		}
	}

	.header__bottom {

		.header__middle-row {

			@media all and (max-width: 767px) {
				overflow: hidden;
			}

			.header__benefits.h-benefits {

				.row {
					flex-wrap: nowrap;
					justify-content: end;

					.h-benefits__item {
						width: auto;
						padding: .8rem 1rem;

						.h-benefits__title {
						}

						i {
							font-size: 1.6rem;
						}

						.icon--price {
							color: var(--red);
						}

						.icon--delivery {
							color: var(--orange);
						}

						.icon--return {
							color: var(--yellow);
						}

						.icon--shield {
							color: var(--lemon);
						}
					}

					@media all and (max-width: 1024px)  {
						justify-content: center;

						.h-benefits__item {
							width: auto;
							padding: .6rem .8rem;

							.h-benefits__title {
								font-size: 0.7rem;
							}

							i {
								font-size: 1rem;
							}
						}
					}

					@media all and (max-width: 767px)  {
						justify-content: start;
						overflow-x: auto;
						margin: 0;

						.h-benefits__item {
							width: auto;
							padding: .6rem .8rem;

							.h-benefits__title {
								font-size: 0.7rem;
							}

							i {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}

.header__middle-row .header__nav {
	@media all and (max-width: 1024px) {
		display: none;
	}

	button.category-btn {
		padding: .7rem 1rem;

		&.open {
			background: var(--black-10-1a1a1a);

			i {
				background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7071 18.2929L5.70711 4.29289C5.51957 4.10536 5.26522 4 5 4C4.73478 4 4.48043 4.10536 4.29289 4.29289C4.10536 4.48043 4 4.73478 4 5C4 5.26522 4.10536 5.51957 4.29289 5.70711L18.2929 19.7071C18.4804 19.8946 18.7348 20 19 20C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5195 20 19.2652 20 19C20 18.7348 19.8946 18.4804 19.7071 18.2929Z' fill='%23D94616' /%3E%3Cpath d='M5.70717 19.7071L19.7071 5.70713C19.8947 5.51959 20 5.26523 20 5.00002C20 4.7348 19.8947 4.48045 19.7071 4.29291C19.5196 4.10538 19.2652 4.00002 19 4.00002C18.7348 4.00002 18.4805 4.10538 18.2929 4.29291L4.29295 18.2929C4.10542 18.4804 4.00006 18.7348 4.00006 19C4.00006 19.2652 4.10542 19.5196 4.29295 19.7071C4.48049 19.8947 4.73484 20 5.00006 20C5.26528 20 5.51963 19.8947 5.70717 19.7071Z' fill='%23D94616' /%3E%3C/svg%3E") 50% no-repeat;
				
				&:before {
					display: none;
				}
			}
		}
	}
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;

    &.active {
    	opacity: 1;
    	visibility: visible;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    max-width: 320px;
    height: 100vh;
    background: var(--black-10-1a1a1a);
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);


	&.active {
	    left: 0;
	}

	.menu-overlay.active {
	    opacity: 1;
	    visibility: visible;
	}

	.mobile-menu__header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 20px;
	    border-bottom: 1px solid var(--gray-15-262626);
	}

	.mobile-menu__logo {
	    font-size: 18px;
	    font-weight: 600;
	    color: #E6AC00;
	}

	.mobile-menu__close {
	    background: none;
	    border: none;
	    font-size: 28px;
	    color: #fff;
	    cursor: pointer;
	    padding: 0;
	    width: 32px;
	    height: 32px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.mobile-menu__list {
	    list-style: none;
	    padding: 0;
	}

	.mobile-menu__item {
	    border-bottom: 1px solid var(--gray-15-262626);
	}

	.mobile-menu__link {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 16px 20px;
	    color: #fff;
	    text-decoration: none;
	    font-size: 15px;
	    transition: background 0.2s;
	}


	.mobile-menu__icon {
	    width: 24px;
	    height: 24px;
	    margin-right: 12px;
	    flex-shrink: 0;
	}

	.mobile-menu__text {
	    flex: 1;
	    display: flex;
	    align-items: center;
	}

	.mobile-menu__arrow {
	    width: 20px;
	    height: 20px;
	    transition: transform 0.3s;
	    flex-shrink: 0;
	}

	.mobile-menu__arrow svg {
	    width: 100%;
	    height: 100%;
	}

	.mobile-menu__submenu {
	    list-style: none;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.3s ease;
	    background: var(--black-10-1a1a1a);
	}

	.mobile-menu__item.active > .mobile-menu__submenu {
	    max-height: 2000px;
	}

	.mobile-menu__item.active > .mobile-menu__link .mobile-menu__arrow {
	    transform: rotate(180deg);
	}

	.mobile-menu__submenu .mobile-menu__item {
	    border-bottom: 1px solid var(--gray-15-262626);
	}

	.mobile-menu__submenu .mobile-menu__link {
	    padding: 10px 20px 10px 45px;
	    font-size: 14px;
	    color: #fff;
	}

	.mobile-menu__submenu .mobile-menu__submenu .mobile-menu__link {
	    padding-left: 76px;
	    font-size: 13px;
	    color: #fff;
	    padding: 10px 20px 10px 40px;
	}

	.h-menu {
	    padding: 12px 20px;
	    background: var(--black-10-1a1a1a);
	    border-bottom: 1px solid var(--gray-15-262626);
	}

	.h-menu__list {
	    list-style: none;
	}

	.h-menu__item {
	    margin-bottom: 8px;
	}

	.h-menu__link {
	    display: block;
	    padding: 10px 0;
	    color: #fff;
	    text-decoration: none;
	    font-size: 14px;
	}

	.menu-toggle {
	    position: fixed;
	    top: 20px;
	    left: 20px;
	    width: 44px;
	    height: 44px;
	    background: #E6AC00;
	    border: none;
	    border-radius: 8px;
	    cursor: pointer;
	    z-index: 998;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    gap: 5px;
	}

	.menu-toggle span {
	    width: 22px;
	    height: 2px;
	    background: #fff;
	    transition: all 0.3s;
	}

	.menu-toggle.active span:nth-child(1) {
	    transform: rotate(45deg) translate(5px, 5px);
	}

	.menu-toggle.active span:nth-child(2) {
	    opacity: 0;
	}

	.menu-toggle.active span:nth-child(3) {
	    transform: rotate(-45deg) translate(7px, -7px);
	}
}

.info-block__container {

	.info-block__title-404 {
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 180px;
		line-height: 89%;
		text-transform: uppercase;
		color: var(--white);

		@media all and (max-width: 767px){
			font-size: 100px;
		}
	}

	.info-block__subtitle {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 20px;
		line-height: 125%;
		color: var(--white);
	}
}