@import "../vendor/libs";

.h-slider {
    --v-h-slider-indent: 0;
    --v-h-slider-item-padding: 2.6667rem;
    --v-h-slider-pagination-margin: 2.6667rem;

    --v-h-slider-title-margin-top: 1.3333rem;
    --v-h-slider-title-margin-bottom: 2rem;

    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    width: 100%;
    max-height: 450px;

    &__content {
        position: relative;
        height: 100%;
        z-index: 2;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 440px;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: var(--v-h-slider-item-padding);
    }

    &__img {
        position: absolute;
        top: var(--v-h-slider-indent);
        right: var(--v-h-slider-indent);
        bottom: var(--v-h-slider-indent);
        left: var(--v-h-slider-indent);
        z-index: -1;

        & * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__subtitle {
        font-size: 0.7333rem;
        color: var(--v-secondary);
    }

    &__title {
        margin-top: var(--v-h-slider-title-margin-top);
        margin-bottom: var(--v-h-slider-title-margin-bottom);
    }

    &__pagination {
        --swiper-pagination-color: var(--v-yellow);
        --swiper-pagination-bullet-size: 0.6667rem;
        --swiper-pagination-bullet-inactive-color: transparent;
        --swiper-pagination-bullet-horizontal-gap: 0.6667rem;

        text-align: start;
        margin: 0 0 var(--v-h-slider-pagination-margin) var(--v-h-slider-pagination-margin);
        height: 0;

        .swiper-pagination-bullet {
            border: 2px solid var(--v-white);

            &-active {
                border: none !important;
            }
        }
    }
}

.h-plus {
    --v-h-plus-padding: 1.3333rem;
    --v-h-plus-gap: 2rem;
    --v-h-plus-item: 1rem;
    --v-h-plus-title-gap: 1.3333rem;

    @include md-block() {
        flex-direction: column;
    }

    display: flex;
    gap: var(--v-h-plus-gap);
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: column;
        padding: var(--v-h-plus-padding);
        gap: var(--v-h-plus-item);
        flex-grow: 1;
        background-color: var(--v-black);
    }

    &__title {
        display: flex;
        justify-content: space-between;
        gap: var(--v-h-plus-title-gap);
        line-height: 1.2;
    }

    &__text {
        color: var(--v-secondary);
        line-height: 1.3;
    }

    &__icon {
        font-size: 1.3333rem;
        // min-width: 20px;
        max-width: 20px;
    }
}
