$breakpoint-xl: 1200px;
$breakpoint-lg: 991px;
$breakpoint-md: 600px;
$breakpoint-sm: 575px;

.h-title {
    --v-h-title-padding-y: 2.3333rem;
    --v-h-title-gap: 1.6667rem;
    --v-h-title-margin-bottom: 2rem;

    padding: var(--v-h-title-padding-y) 0;

    &--border-top {
        border-top: solid 1px var(--v-gray-800);
    }

    &__row {
        --v-gutter-x: 0;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 1.5rem;

            .col-10,
            .col-2 {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }

            .text-end {
                text-align: left !important;
            }
        }
    }

    &__quantity {
        font-size: 0.8667rem;

        @media (max-width: $breakpoint-sm) {
            font-size: 0.8rem;
        }
    }

    &__titles {
        display: flex;
        gap: 2rem;
        color: var(--v-secondary);

        & > * {
            margin: 0;
            cursor: pointer;
            transition: color 0.2s ease;

            &:hover {
                color: var(--v-gray-400);
            }
        }

        .h-title__item {
            &--active {
                color: var(--v-white);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--v-orange);

                    @media (max-width: $breakpoint-md) {
                        bottom: -0.3rem;
                    }
                }
            }
        }

        @media (max-width: $breakpoint-lg) {
            gap: 1.5rem;

            .fs-1 {
                font-size: 1.75rem !important;
            }
        }

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 1rem;

            .fs-1 {
                font-size: 1.5rem !important;
            }
        }

        @media (max-width: $breakpoint-sm) {
            gap: 0.75rem;

            .fs-1 {
                font-size: 1.25rem !important;
            }
        }
    }

    &__more {
        @media (max-width: $breakpoint-md) {
            .more__link {
                font-size: 0.8667rem;
            }
        }
    }

    @media (max-width: $breakpoint-lg) {
        --v-h-title-padding-y: 2rem;
    }

    @media (max-width: $breakpoint-md) {
        --v-h-title-padding-y: 1.5rem;
        --v-h-title-margin-bottom: 1.5rem;
    }

    @media (max-width: $breakpoint-sm) {
        --v-h-title-padding-y: 1.25rem;
        --v-h-title-margin-bottom: 1rem;
    }
}