@import "../vendor/libs";

.info-block {
    --v-info-block-padding-x: 4rem;
    --v-info-block-container-padding: 2.6667rem;
    --v-info-block-container-gap: 1.3333rem;

    background: center center/cover no-repeat;
    padding: var(--v-info-block-padding-x) 0;

    &__container {
        padding: var(--v-info-block-container-padding);
        display: flex;
        flex-direction: column;
        gap: var(--v-info-block-container-gap);
        border-radius: 4px;
        background-color: rgba(26, 26, 26, 0.9);

        @include md-block() {
            max-width: 465px;
            margin-right: auto;
        }
    }

    &__small-text {
        font-size: 0.7333rem;
        text-transform: uppercase;
    }

    /* - */

    &__title {
        line-height: 100%;
    }

    &__small-text {
        line-height: 120%;
    }

    &__text {
        line-height: 130%;
    }
}
