@import "../vendor/libs";

.product-description {
    --v-product-description-wrap-gap: 1.3333rem;
    --v-product-description-wrap-padding-x: 2rem;
    --v-product-description-wrap-padding-top: 1.3333rem;
    --v-product-description-wrap-padding-bottom: 1rem;

    --v-product-description-img-size: 100%;

    overflow: hidden;
    background-color: var(--v-black);

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: var(--v-product-description-wrap-gap);
        padding: var(--v-product-description-wrap-padding-top) var(--v-product-description-wrap-padding-x)
            var(--v-product-description-wrap-padding-bottom) var(--v-product-description-wrap-padding-x);
        @include md-block() {
            padding-left: 0;
        }
    }

    &__text {
        line-height: 1.3;
        color: var(--v-gray-500);
    }

    &__img {
        height: 100%;

        & * {
            height: var(--v-product-description-img-size);
            width: var(--v-product-description-img-size);
            object-fit: cover;
        }
    }

    .product-description__text {
        position: relative;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .product-description__text.collapsed {
        max-height: 120px;
    }

    .product-description__text.collapsed::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 1) 100%);
        pointer-events: none;
    }

    .product-description__text.expanded {
        max-height: 2000px;
    }

    .product-description__text.expanded::after {
        display: none;
    }

    @media (max-width: 767px) {
        .product-description__text.collapsed {
            max-height: 100px;
        }
    }

}


