@import "../vendor/libs";

:root {
    --v-products-slider-btn-size: 3.3333rem;
    --v-products-slider-btn-border-radius: 25px;
}

.products-slider {
    position: relative;

    &__content {
        overflow: hidden;
    }

    &__item {
        height: auto !important;
    }

    &__btns {
        position: absolute;
        top: 37.5%;
        right: calc(-1 * (var(--v-products-slider-btn-size)) / 4);
        left: calc(-1 * (var(--v-products-slider-btn-size)) / 4);

        @include x2l-block() {
            right: calc(-1 * (var(--v-products-slider-btn-size)) / 2);
            left: calc(-1 * (var(--v-products-slider-btn-size)) / 2);
        }
        height: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        z-index: 2;

        // margin: auto;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;

        background-color: var(--v-gray-700);
        width: var(--v-products-slider-btn-size);
        height: var(--v-products-slider-btn-size);
        border-radius: var(--v-products-slider-btn-border-radius);

        &:hover {
            background-color: var(--v-red);
        }
    }
    .swiper-button-disabled {
        background-color: var(--v-gray-600);
    }
}

.markers {
    --v-marker-position: 10px;
    --v-marker-gap: 0.6667rem;
    --v-markers-item-border-radius: 10px;
    --v-marker-item-padding: 0.6667rem;
    --v-marker-item-padding-y: 1rem;

    position: absolute;
    z-index: 2;
    top: var(--v-marker-position);
    right: var(--v-marker-position);

    display: flex;
    flex-direction: column;
    gap: var(--v-markers-item-border-radius);

    &--horizontal {
        left: var(--v-marker-position);
        right: auto;
    }

    &__item {
        padding: var(--v-marker-item-padding);
        font-size: 0.7333rem;
        font-weight: 500;
        border-radius: var(--v-markers-item-border-radius);
        line-height: 100%;

        & * {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
        }

        // &--number {
        //     padding: var(--v-marker-item-padding-y) var(--v-marker-item-padding);
        // }
    }

    &__icon {
        font-size: 1.3333rem;
    }
}
