.products-set {
    --v-products-set-square-size: 70px;
    --v-products-set-content-gap: 2rem;

    --v-products-set-final-prices-gap: 0.6667rem;
    --v-products-set-final-price-padding: 2rem;

    &__title {
        margin-bottom: 2.6667rem;
    }

    &__row {
        // align-items: center;

        --v-gutter-y: 30px;
    }
    &__content {
        display: flex;
        align-items: center;
        height: 100%;
        gap: var(--v-products-set-content-gap);
    }

    &__square-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__square {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--v-black);
        font-size: 1.4rem;
        color: var(--v-orange);
        width: var(--v-products-set-square-size);
        height: var(--v-products-set-square-size);
    }

    &__final-container {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    &__final-price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--v-black);
        padding: var(--v-products-set-final-price-padding);
        height: 100%;
    }

    // &__buy {
    //     display: flex;
    //     flex-direction: column;
    // }

    &__discount {
        &-title {
            line-height: 1;
            margin-bottom: 5px;
        }
        &-text {
            line-height: 1;
        }
    }

    &__prices {
        display: flex;
        align-items: end;
        gap: var(--v-products-set-final-prices-gap);
        margin-bottom: 25px;
        margin-top: 15px;
    }

    &__price {
        line-height: 0.75;

        &--inactive {
            text-decoration: line-through;
            color: var(--v-secondary);
        }
    }
}
