@import "../vendor/libs";

$breakpoint-xl: 1200px;
$breakpoint-lg: 991px;
$breakpoint-md: 600px;
$breakpoint-sm: 575px;

.reviews {
    --v-reviews-container-gap: 2rem;
    --v-reviews-content-padding-ltr: 1.3333rem;
    --v-reviews-content-padding-bottom: 2rem;
    --v-reviews-content-gap: 3.3333rem;

    --v-reviews-rating-gap: 0.6667rem;

    --v-reviews-row-gap: 2rem;

    &__container {
        display: flex;
        flex-direction: column;
        gap: var(--v-reviews-container-gap);
    }

    &__row {
        row-gap: var(--v-reviews-row-gap, var(--v-gutter-y));
        // --v-gutter-y: 2rem;
    }

    &__item {
        display: flex;
        background-color: var(--v-black);

        flex-wrap: wrap;
        @include sm-block() {
            flex-wrap: nowrap;
        }

        @media all and (max-width: $breakpoint-md) {
            .reviews__img {
                padding: var(--v-reviews-content-padding-ltr) var(--v-reviews-content-padding-ltr) 0;
            }
        }
    }

    &__img {
        min-width: 170px;
        max-height: 170px;
        aspect-ratio: 1;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        gap: var(--v-reviews-content-gap);
        padding: var(--v-reviews-content-padding-ltr) var(--v-reviews-content-padding-ltr)
            var(--v-reviews-content-padding-bottom) var(--v-reviews-content-padding-ltr);
    }

    &__title {
        line-height: 100%;
        margin-bottom: 0.6667rem;
    }

    &__text {
        padding-right: 0.6667rem;
        line-height: 1.3;
    }

    &__rating {
        line-height: 1;
        display: flex;
        flex-direction: column;
        gap: var(--v-reviews-rating-gap);
    }

    &__date-rating {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__date {
        color: var(--v-secondary);
    }

    &__btn {
        text-transform: none;
    }
}
