@use "../../../../../../vendor/libs" as *;

.cSectionList {
	--v-c-section-list-link-padding-y: 0.9333rem;
	--v-c-section-list-link-padding-x: 1.3333rem;
	--v-c-section-list-link-icon-size: 0.8rem;
	--v-c-section-list-link-hover-bg: var(--v-danger);
	--v-c-section-list-link-hover-color: var(--v-white);
	--v-c-section-list-title-button-padding-x: 1.3333rem;
	--v-c-section-list-title-button-padding-y: 1rem;
	--v-c-section-list-title-button-icon-size: 1.2rem;

	background-color: var(--v-black);
	// .cSectionList__title
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding-left: var(--v-c-section-list-title-button-padding-x);
		padding-right: var(--v-c-section-list-title-button-padding-x);
		padding-top: var(--v-c-section-list-title-button-padding-y);
		padding-bottom: var(--v-c-section-list-title-button-padding-y);
		// cursor: pointer;
		span {
			color: var(--v-white);
			font-weight: 400;
			font-size: 1.3333rem;
			text-transform: uppercase;
			line-height: 1;
		}
		i {
			width: var(--v-c-section-list-title-button-icon-size);
			height: var(--v-c-section-list-title-button-icon-size);
			color: var(--v-primary);
			font-size: var(--v-c-section-list-title-button-icon-size);
			display: block;
			transition: 0.3s;
			cursor: pointer;
			&[aria-expanded="false"] {
				transform: rotate(180deg);
			}
		}
	}
	// .cSectionList__list
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	// .cSectionList__child
	&__child {
		display: none;
		padding-left: var(--v-c-section-list-link-padding-x);
		padding-right: var(--v-c-section-list-link-padding-x);
	}
	&__child & {
		&__link {
			--v-c-section-list-link-padding-x: 0;
			--v-c-section-list-link-hover-bg: transparent;
			--v-c-section-list-link-hover-color: var(--v-danger);
			span {
				font-weight: 400;
				font-size: 0.8667em;
			}
		}
	}
	// .cSectionList__item
	&__item {
		padding: 0;
		border-top: 1px solid var(--v-gray-700);
	}

	// .cSectionList__item
	&__item[aria-expanded="false"] > & {
		&__link {
			i {
				transform: rotate(0);
			}
		}
		&__child {
			display: none;
		}
	}
	// .cSectionList__item
	&__item[aria-expanded="true"] > & {
		&__link {
			i {
				transform: rotate(-90deg);
			}
		}
		&__child {
			display: block;
		}
	}
	// .cSectionList__link
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding-left: var(--v-c-section-list-link-padding-x);
		padding-right: var(--v-c-section-list-link-padding-x);
		padding-top: var(--v-c-section-list-link-padding-y);
		padding-bottom: var(--v-c-section-list-link-padding-y);
		span {
			font-weight: 700;
			line-height: 1;
		}
		i {
			width: var(--v-c-section-list-title-button-icon-size);
			height: var(--v-c-section-list-title-button-icon-size);
			color: var(--v-primary);
			font-size: var(--v-c-section-list-link-icon-size);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.3s;
		}
		&--selected,
		&:hover {
			color: var(--v-c-section-list-link-hover-color);
			background-color: var(--v-c-section-list-link-hover-bg);
			i {
				color: var(--v-c-section-list-link-hover-color);
			}
		}
	}
}
