@use "../../../../../vendor/libs" as *;

.about-product {
	--v-about-product-thumbs-item-padding-x: 20px;
	--v-about-product-thumbs-item-padding-y: 15px;
	--v-about-product-thumbs-item-border-radius: 5px;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 1px;
	}
}

.detailed-thumbs {
	&__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1px;
		overflow: hidden;
		line-height: 1.3;
		margin: 0;
		padding: 0;
		border-radius: var(--v-about-product-thumbs-item-border-radius) var(--v-about-product-thumbs-item-border-radius) 0 0;
	}
	&__item {
		padding: var(--v-about-product-thumbs-item-padding-y) var(--v-about-product-thumbs-item-padding-x)
			var(--v-about-product-thumbs-item-padding-y) var(--v-about-product-thumbs-item-padding-x);
		background-color: var(--v-black);
		flex-grow: 1;
		cursor: pointer;
		&::marker {
			content: "";
		}

		/* Через JS */
		&--active {
			background-color: var(--v-gray-700);
		}
	}

	&__tab {
		color: var(--v-white);

		border: none;
		background: none;
	}
}

.characteristics {
	--v-characteristics-gap: 1.6667rem;
	--v-characteristics-description-gap: 1.6667rem;

	--v-characteristics-padding-x: 2rem;
	--v-characteristics-padding-y: 1.6667rem;
	// --v-characteristics-title-margin-bottom: 1rem;

	display: flex;
	flex-direction: column;
	gap: var(--v-characteristics-gap);
	padding: var(--v-characteristics-padding-y) var(--v-characteristics-padding-x) var(--v-characteristics-padding-y)
		var(--v-characteristics-padding-x);
	background-color: var(--v-black);
	line-height: 1.3;

	&__row {
		--v-gutter-y: 0;
	}

	&__title {
		margin-bottom: 1.3333rem;
		line-height: 1;
	}
	/* list-item сделать общий класс */

	&__list {
		--v-characteristics-item-padding-y: 0.6667rem;

		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: var(--v-characteristics-item-padding-y);
			padding-bottom: var(--v-characteristics-item-padding-y);
			border-bottom: 1px var(--v-gray-700) solid;
		}
		&--profile {
			& .characteristics__list-item:last-child {
				border-bottom: none;
			}
		}
	}

	&__descriptions {
		display: flex;
		flex-direction: column;
		gap: 1.3333rem;
		&-list {
			margin-top: 0;
		}
		&-item {
			margin-bottom: 0.3333rem;
		}
	}
}

.products-thumbs {
	--v-products-thumbs-gap: 0.6667rem;
	--v-products-thumbs-padding-x: 1.0666rem;
	--v-products-thumbs-padding-y: 0.6667rem;
	--v-products-thumbs-border-radius: 20px;

	--v-products-thumbs--icon-color: var(--v-secondary);

	display: flex;
	flex-wrap: wrap;
	gap: var(--v-products-thumbs-gap);
	margin-bottom: 2rem;

	&--suggestions {
		--v-products-thumbs-padding-y: 0.6667rem;
	}

	&__content {
		position: relative;
		display: flex;
		justify-content: center;

		&:hover .products-thumbs__info {
			display: flex !important;
		}
		&:hover .products-thumbs__item {
			@extend .products-thumbs-hover;
		}

		// &:nth-child(1) {
		//     justify-content: start;
		// }
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--v-products-thumbs-gap);

		background-color: var(--v-black);
		padding: var(--v-products-thumbs-padding-y) var(--v-products-thumbs-padding-x) var(--v-products-thumbs-padding-y)
			var(--v-products-thumbs-padding-x);
		border-radius: var(--v-products-thumbs-border-radius);
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover {
			@extend .products-thumbs-hover;
		}
	}

	&__icon {
		font-size: 1.3333rem;
		color: var(--v-products-thumbs--icon-color);
	}

	/* ДОДУМАТЬ ЧЕРЕЗ js МБ  */

	&__info {
		--v-products-thumbs-info-padding: 1rem;
		--v-products-thumbs-info-border-radius: 20px;
		--v-products-thumbs-info-before-size: 1.3333rem;

		position: absolute;

		display: none;
		flex-direction: column;
		gap: var(--v-products-thumbs-gap);
		width: 260px;
		padding: var(--v-products-thumbs-info-padding);
		background-color: var(--v-black);
		border-radius: var(--v-products-thumbs-info-border-radius);
		z-index: 2;
		bottom: 0;
		transform: translateY(105%);
		// bottom: 0;

		&::before {
			content: "";
			position: absolute;
			background-color: var(--v-black);
			width: var(--v-products-thumbs-info-before-size);
			height: var(--v-products-thumbs-info-before-size);
			top: -5px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			z-index: -1;

			// left: ;
		}
	}
}

.products-thumbs-hover {
	background-color: var(--v-danger);
	--v-products-thumbs--icon-color: var(--v-white);
	// font-weight: 600;
}

.product-detailed {
	--v-product-detailde-padding: 1.3333rem;
	--v-detailed-slider-img-proc-size: 100%;
	--v-detailed-slider-border-radius: 4px;
}

.detailed-slider {
	--v-detailed-slider-content-margin-bottom: 2rem;

	&__content {
		position: relative;
		overflow: hidden;
		margin-bottom: var(--v-detailed-slider-content-margin-bottom);
		border-radius: var(--v-detailed-slider-border-radius);
	}

	&__item {
		height: 100%;
	}

	&__img {
		max-height: 570px;
		// width: 100%;
		// aspect-ratio: 1;

		& img {
			height: var(--v-detailed-slider-img-proc-size);
			width: var(--v-detailed-slider-img-proc-size);
			object-fit: cover;
		}
	}
}

.detailed-thumbs {
	&__content {
		overflow: hidden;
		height: 70px;
	}

	&__img {
		height: 100%;
		// aspect-ratio: 1;
		overflow: hidden;
		cursor: pointer;
		border-radius: var(--v-detailed-slider-border-radius);

		& img {
			height: var(--v-detailed-slider-img-proc-size);
			width: var(--v-detailed-slider-img-proc-size);
			object-fit: cover;
		}
	}

	.swiper-slide-thumb-active {
		border: 2px solid var(--v-danger);
		border-radius: 6px;
	}
}

.detailed-parameters {
	--v-detailed-parameters-gap: 2rem;

	height: 100%;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		gap: var(--v-detailed-parameters-gap);
	}
}

.palette {
	--v-palette-gap: 1.6667rem;
	--v-palette-list-gap: 0.5333rem;

	--v-palette-colors-size: 30px;
	--v-palette-colors-border-radius: 100%;

	display: flex;
	flex-direction: column;
	gap: var(--v-palette-gap);
	padding: var(--v-product-detailde-padding);
	background-color: var(--v-black);

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--v-palette-list-gap);
		align-items: center;
	}

	&__item {
		cursor: pointer;

		/* Вариант, но не попадает в габариты */
		// &--active {
		//     border-color: var(--v-danger);
		//     animation: appear 0.25s forwards;
		// }

		// border: 2px solid transparent;
		// border-radius: 50%;

		/* Вариант который не точ в точ повторяет сам круг */
		&--active {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: var(--v-palette-colors-size);
				width: var(--v-palette-colors-size);
				border-radius: var(--v-palette-colors-border-radius);
				border: 2px var(--v-danger) solid;
				opacity: 0;
				animation: appear 0.25s forwards;
			}
		}

		&--disabled {
			position: relative;
			border: 1px var(--v-gray-700) solid;
			border-radius: var(--v-palette-colors-border-radius);
			pointer-events: none;
			.palette__colors {
				filter: brightness(0.4);
			}

			&::before {
				content: "";
				position: absolute;
				width: var(--v-palette-colors-size);
				background-color: var(--v-gray-700);
				top: 50%;
				transform: rotate(-45deg);
				// bottom: 0;
				// right: 0;
				// left: 0;
				z-index: 2;
				height: 1px;
			}
		}
	}

	/* УЗНАТЬ ПО ПОВОДУ ЦВЕТОВ КАК ЛУЧШЕ СДЕЛАТЬ ДЛЯ КОНТЕНТ МЕНЕДЖЕРА */

	&__colors {
		// background-color: var(--v-white);
		background: center center/cover no-repeat;
		width: var(--v-palette-colors-size);
		height: var(--v-palette-colors-size);
		border-radius: var(--v-palette-colors-border-radius);

		border: 5px var(--v-dark) solid;
	}
}

.detailed-characteristics {
	// --v-detailed-characteristics-padding: 1.3333rem;

	--v-detailed-characteristics-item-padding-y: 0.6667rem;
	--v-detailed-characteristics-gap: 1.3333rem;

	display: flex;
	flex-direction: column;
	gap: var(--v-detailed-characteristics-gap);
	padding: 10px var(--v-product-detailde-padding) var(--v-product-detailde-padding) var(--v-product-detailde-padding);
	background-color: var(--v-black);

	&__list {
		padding: 0;
		margin: 0;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		// gap: 0.3333rem;
		// flex-wrap: wrap;
		align-items: center;
		padding: var(--v-detailed-characteristics-item-padding-y) 0;
		border-bottom: 1px var(--v-gray-700) solid;
	}
}

.detailed-discount {
	--v-detailed-discount-gap: 0.6667rem;

	display: flex;
	padding: var(--v-product-detailde-padding);
	flex-direction: column;
	text-align: center;
	gap: var(--v-detailed-discount-gap);
	// line-height: 120%;

	background-color: var(--v-black);

	&__title {
		line-height: 120%;
	}

	&__text {
		line-height: 120%;
	}

	&__icon {
		font-size: 1.3333rem;
		color: var(--v-lemon);

		/* МОжно убрать */
		& * {
			height: 20px;
		}
	}
}

.detailed-purchase {
	--v-detailed-purchase-container-gap: 2rem;
	--v-detailed-purchase-buy-gap: 1.3333rem;
	--v-detailed-purchase-container-padding: 1.3333rem;
	--v-detailed-purchase-delivery-item-padding: 0.6667rem;

	height: 100%;

	&__container {
		display: flex;
		flex-direction: column;
		gap: var(--v-detailed-purchase-container-gap);
		height: 100%;
		background-color: var(--v-black);
		padding: var(--v-detailed-purchase-container-padding);
	}

	&__price-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__prices {
		display: flex;
		align-items: end;
		flex-wrap: wrap;
		gap: 0.6667rem;
	}

	&__price {
		line-height: 75%;
		&--inactive {
			color: var(--v-gray-700);
			text-decoration: line-through;
			// margin-left: 0.6667rem;
		}

		&-container {
			line-height: 1;
		}
	}

	&__slogan {
		display: flex;
		align-items: center;
		gap: 0.3333rem;

		&-icon {
			font-size: 1.2rem;
			color: var(--v-yellow);
		}
	}

	&__buy {
		display: flex;
		flex-direction: column;
		gap: var(--v-detailed-purchase-buy-gap);
	}

	&__btn {
		display: flex;
		gap: 0.6667rem;
		justify-content: center;
		align-items: center;

		&:nth-child(2) {
			--v-btn-padding-y: 0.6667rem;
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		font-size: 0.7333rem;
	}

	&__action {
		display: flex;
		align-items: center;
		gap: 0.6667rem;
		letter-spacing: 0.05em;

		cursor: pointer;
	}

	&__icon {
		font-size: 1.3333rem;
	}
}

.delivery {
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 1.15;

		padding-top: var(--v-detailed-purchase-delivery-item-padding);
		padding-bottom: var(--v-detailed-purchase-delivery-item-padding);

		border-bottom: 1px solid var(--v-gray-700);
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
