@use "../../../vendor/libs" as *;

.pagination {
	--v-pagination-container-padding-y: 0.6667rem;
	--v-pagination-container-padding-x: 1.3333rem;
	--v-pagination-num-size-sq: 40px;

	&-container {
		background-color: var(--v-black);
		padding-left: var(--v-pagination-container-padding-x);
		padding-right: var(--v-pagination-container-padding-x);
		padding-top: var(--v-pagination-container-padding-y);
		padding-bottom: var(--v-pagination-container-padding-y);
		border-radius: var(--v-border-radius-sm);
	}
	&-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		li {
			padding: 0;
		}
	}
	&-prev {
		margin-right: auto;
	}
	&-next {
		margin-left: auto;
	}
	&-prev,
	&-next {
		text-transform: uppercase;
		color: #fff;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		a {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			i {
				color: var(--v-yellow);
			}
		}
	}
	&-num {
		width: var(--v-pagination-num-size-sq);
		height: var(--v-pagination-num-size-sq);
		border-radius: var(--v-border-radius-pill);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.8667rem;
		font-weight: 700;
		color: var(--v-pagination-num-color, var(--v-white));
		border: 2px solid var(--v-pagination-num-bd-color, transparent);
		&--active {
			--v-pagination-num-color: var(--v-yellow);
			--v-pagination-num-bd-color: currentColor;
		}
	}
	&-all {
	}
}
